$black: #1C2833;

.home {
	.home-header {
		background: url(../../../img/bg.webp) no-repeat 100% 100%;
		background-size: cover;
		height: 430px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background: rgba(0, 0, 0,.5);
			height: 100%;
			width: 100%;
			top: 0;
		}

		.home-nav {
			display: flex;
			justify-content: space-between;
			position: relative;
			z-index: 1;
			padding: 20px 20px 45px 20px;

			h1 {
				font-family: boldd;
	
				a {
					color: #fff;
					text-decoration: none;
				}
			}

			p {
				font-family: light;
				
				a {
					color: #fff;
					text-decoration: none;
				}
			}
		}

		.home-center-content {
			position: relative;
			z-index: 1;

			p {
				font-family: boldd;
				color: #fff;
				font-size: 35px;
				width: 650px;
				line-height: 1.5;
				margin: 0 auto 20px auto;
			}

			.home-search {
				background: #fff;
				width: 640px;
				margin: 0 auto;
				border-radius: 5px;
				height: 60px;
				padding-bottom: 0;
				display: flex;

				input {
					height: 100%;
					padding: 0;
					border: 0;
					outline: 0;
					width: 90%;
					border-radius: 5px;
					padding: 0 0 0 15px;
					color: $black;
					font-size: 22px;

					&::placeholder {
						font-size: 22px;
						font-family: light;
					}
				}

				.home-search-button {
					cursor: pointer;
					width: 10%;
					position: relative;

					.home-search-icon {
						position: absolute;
						color: $black;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						font-size: 30px;
					}
				}
			}
		}
	}
}